@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: calc(0.5rem + 0.5vw);
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.Bg {
    background-color: #080808;
}


/* Галерея */
.list {
    columns: 400px;
    column-gap: 2rem;
    padding: 2rem;
}
.pic {
    margin-bottom: 2rem;
}

.service-shadow {
    box-shadow: 8px 8px 8px -5px rgba(54, 221, 163, 0.2);
}

#mobile-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, opacity 0.9s ease-in-out;
}

#mobile-menu.show {
    max-height: 500px;
    opacity: 1;
}
