@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1400px;
}

.Bg {
    background-color: #080808;
}

.main_bg {
    background-image: url('/public/img/main_bg.jpg');
    background-size: cover;
    background-position: center;
}

/* ШАПКА */
header {
    display: flex;
    justify-content: center;
    background-color: #18181b;
}

.navbar {
    text-transform: uppercase;
}

/* ГЛАВНАЯ */




